<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -----LINK WITH CSS FILE----- -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_dashboard.css')}}">
    <!-- -----LINK WITH CSS FILE----- -->

    <title>Login and Register</title>
</head>

<body>
    <div id="dashboard">
        <div class="left">
            <h1>WELCOME BACK!</h1>

            <!-- -----FLASH MESSAGES ALERT----- -->
            {% with messages = get_flashed_messages(category_filter=['login']) %}
            {% if messages %}
            <div class="alert_login" role="alert">
                <strong>STOP RIGHT THERE!!!</strong>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <!-- -----FLASH MESSAGES ALERT----- -->


            <!-- -----LOGIN SECTION----- -->
            <div class="login">
                <form action="/login" method="post">
                    <h2>LOGIN</h2>
                    <div class="form_group_login">
                        <label for="email" class="login_label">Email:</label>
                        <input type="text" name="email" id="email">
                    </div>
                    <div class="form_group_login">
                        <label for="password" class="login_label">Password:</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <input type="submit" value="Login" class="login_button">
                </form>
            </div>
            <!-- -----LOGIN SECTION----- -->

        </div>

        <div class="right">
            <h1>REGISTER</h1>
            <div class="register">

                <!-- -----FLASH MESSAGES ALERT----- -->
                {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                <div class="alert_register" role="alert">
                    <strong>STOP RIGHT THERE!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <!-- -----FLASH MESSAGES ALERT----- -->


                <!-- -----REGISTER SECTION----- -->
                <form action="/submit" method="post">
                    <div class="form_group_register">
                        <label for="first_name" class="register_label">User Name:</label>
                        <input type="text" name="user_name" id="user_name">
                    </div>
                    <div class="form_group_register">
                        <label for="email" class="register_label">Email:</label>
                        <input type="text" name="email" id="email">
                    </div>
                    <div class="form_group_register">
                        <label for="password" class="register_label">Password:</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="form_group_register">
                        <label for="confirm" class="register_label">Confirm Password:</label>
                        <input type="password" name="confirm" id="password">
                    </div>
                    <input type="submit" value="Register" class="register_button">
                </form>
                <!-- -----REGISTER SECTION----- -->

            </div>
        </div>
    </div>
</body>

</html>