<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_game.css')}}">
    <title>Game</title>
</head>

<body>
    <div id="game">
        <div class="top_buttons">
            <a href="/show" class="home_button">Home</a><br>
            <a href="/logout" class="logout_button">Logout</a>
        </div>
        <div class="game_container">
            <div class="question">
                <h3>What's the capital city of Australia?</h3>
                <form action="/game/1" method="post" class="answer_input">
                    <div class="answers">
                    <input type="radio" id="answer_one" value="answer_one">
                    <label for="answer_one">Sydney</label>
                    <input type="radio" id="answer_two" value="answer_one" name="answer_2">
                    <label for="answer_two">Canberra</label>
                    <input type="radio" id="answer_three" value="answer_one">
                    <label for="answer_three">Melbourne</label>
                    <input type="radio" id="answer_four" value="answer_one">
                    <label for="answer_four">Perth</label>
                    </div>
                    <input type="submit" value="Submit" class="submit_button">
                </form>
            </div>
        </div>
    </div>
</body>
</html>