<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_index.css')}}">
    <title>Home Page</title>
</head>

<body>
    <div id="index">
        <h1>DID <span class="you">YOU</span> KNOW</h1>
        <p class="dashboard_text">THAT THE CAPITAL CITY OF AUSTRALIA IS CANBERRA?</p>
        <a href="/dashboard" class="button" onClick="alert('PLEASE LOGIN OR REGISTER TO VIEW MORE FACTS')">LET'S EXPLORE MORE</a><br>
    </div>
</body>

</html>