<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_view.css')}}">
    <title>Bye Bye</title>
</head>

<body>
    <div id="show_each_fact">
        <div class="show_container">
            <div class="show_one">
                <h1>Let's try next time!</h1>
        </div>
    </div>

</body>
</html>