<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_show.css')}}">
    <title>Show All Facts</title>
</head>

<body>
    <div class="top_part">
        <div class="top">
            <a href="/logout" class="logout_button">Logout</a>
            <h1 class="text-success my-3">DID YOU KNOW...</h1>
        </div>
    </div>
    <div class="bottom_part">
        <div class="bottom">
            <a href="/create" class="create_button">Create A Fact</a>
            <p>or</p>
            <a href="/game" class="game_button">Play a Game</a>
        </div>
        <div class="facts">
            {% for fact in facts %}
            <hr>
            <h2><strong>{{fact.fact}}</strong></h2>
            {% if session['user_id'] != fact.poster.id %}                
            <p><strong>Posted by:</strong> {{fact.poster.user_name}}</p>
            {% else %}
            <p><strong>Posted by:</strong>Me</p>
            {% endif %}
            {% if session['user_id'] != fact.poster.id %}
            <div class="v_button">
                <a href="/show/{{fact.id}}" class="view_button">View</a>
            </div>
            {% endif %}
            <div class="three_buttons">
                {% if session['user_id'] == fact.poster.id %}
                <a href="/show/{{fact.id}}" class="view_button">View</a>
                <a href="/edit/{{fact.id}}" class="edit_button">Edit</a>
                <a href="/delete/{{fact.id}}" class="delete_button">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>