<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_view.css')}}">
    <title>View Each Fact</title>
</head>

<body>
    <div id="show_each_fact">
        <div class="top_buttons">
            <a href="/show" class="home_button">Home</a><br>
            <a href="/logout" class="logout_button">Logout</a>
        </div>
        <div class="show_container">
            <div class="show_one">
                {% if session['user_id'] != fact.poster.id %}
                <p class="poster"><strong>Posted By:</strong> {{fact.poster.user_name}}</p>
                {% else %}
                <p class="poster"><strong>Posted By:</strong> Me</p>
                {% endif %}                
                <h2 class="head">DID YOU KNOW..</h2>
                <h3>{{fact.fact}}</h3><br>
                <div class="two_buttons">
                    {% if session['user_id'] == fact.poster.id %}
                    <a href="/edit/{{fact.id}}" class="edit_button">Edit</a>
                    <a href="/delete/{{fact.id}}" class="delete_button">Delete</a>
                    {% endif %}
                </div>
                <p class="resource">Resource: <span>{{fact.resource}}</span></p><br>
            </div>
        </div>
        <a href="/comment" class="comment_button">Comment</a>
        <div class="comments">
            <p>Hello</p>            
            {% for comment in fact.comments %}
            {{comment.comment}}

            <!-- {% for comment in fact.comments %} -->

            <!-- <hr>
            <h2>{{comment.comment}}</h2>
            {% if session['user_id'] != comment.commenter.id %}                
            <p><strong>Posted by:</strong> {{comment.commenter.user_name}}</p>
            {% else %}
            <p><strong>Posted by:</strong> Me</p>
            {% endif %}
            {% if session['user_id'] != comment.commenter.id %}
            <div class="v_button">
                <a href="/show/{{fact.id}}" class="view_button">View</a>
            </div>
            {% endif %}
            <div class="three_buttons">
                {% if session['user_id'] == comment.commenter.id %}
                <a href="/show/{{fact.id}}" class="view_button">View</a>
                <a href="/edit/{{fact.id}}" class="edit_button">Edit</a>
                <a href="/delete/{{fact.id}}" class="delete_button">Delete</a>
                {% endif %}
            </div>
            {% endfor %} -->
            {% endfor %}
        </div>
    </div>

</body>
</html>