<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -----LINK WITH CSS FILE----- --> 
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_view.css')}}">
    <!-- -----LINK WITH CSS FILE----- --> 

    <title>View Each Fact</title>
</head>

<body>
    <!-- -----TOP PART---- --> 
    <div id="show_each_fact">
        <div class="top_buttons">
            <a href="/show" class="home_button">Home</a><br>
            <a href="/logout" class="logout_button">Logout</a>
        </div>

        <!-- -----SHOW ONE FACT---- -->
        <div class="show_container">
            <div class="show_one">
                {% if session['user_id'] != fact.poster.id %}
                <p class="poster"><strong>Posted By:</strong> {{fact.poster.user_name}}</p>
                {% else %}
                <p class="poster"><strong>Posted By:</strong> Me</p>
                {% endif %}                
                <h2 class="head">DID YOU KNOW..</h2>
                <h3>{{fact.fact}}</h3><br>
                <div class="two_buttons">
                    {% if session['user_id'] == fact.poster.id %}
                    <a href="/edit/{{fact.id}}" class="edit_button">Edit</a>
                    <a href="/delete/fact/{{fact.id}}" class="delete_button">Delete</a>
                    {% endif %}
                </div>
                <p class="resource">Resource: <span>{{fact.resource}}</span></p><br>
            </div>
        </div>
        <!-- -----SHOW ONE FACT---- -->

    <!-- -----TOP PART---- --> 

    <!-- -----BOTTOM PART---- --> 
        <a href="/comment/{{fact.id}}" class="comment_button">Comment</a>

        <!-- -----SHOW ALL COMMENTS---- --> 
        <div class="comments">
            <hr>            
            {% for comment in fact.comments %} 

            <!-- ALL COMMENTS -->
            <h4>{{comment.comment}}</h4>
            <!-- ALL COMMENTS -->

            <!-- -----SHOW THE NAME OF THE COMMENTER - IF THE COMMENT POSTED BY LOGGED-IN USER - SHOW "Me"---- -->           
            {% if session['user_id'] != comment.commenter.id %}
            <p>{{comment.commenter.user_name}}</p>
            {% else %}
            <p>Me</p>
            {% endif %}
            <!-- -----SHOW THE NAME OF THE COMMENTER - IF THE COMMENT POSTED BY LOGGED-IN USER - SHOW "Me"---- --> 

            <!-- -----SHOW ALL THE DELETE BUTTON IF THE COMMENT POSTED BY LOGGED-IN USER ----- -->
            <div class="commenter_delete_button">
                {% if session['user_id'] == comment.commenter.id %}
                <a href="/delete/comment/{{comment.id}}" class="delete_button">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
            <!-- -----SHOW ALL THE DELETE BUTTON IF THE COMMENT POSTED BY LOGGED-IN USER ----- -->

        </div>
        <!-- SHOW ALL COMMENTS -->

    <!-- -----BOTTOM PART---- --> 

    </div>

</body>
</html>