/* BODY */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    background-color: rgb(234, 234, 219);
}
/* BODY */

/* --------------------------------------------------- */

/* TOP PART */
h1 {
    font-size: 50px;
    margin-top: 0px;
    font-family: cursive;
    text-align: center;
    color: #ffffff;
}
.top_part {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:center;
    height: 150px;
    background: #000000;    
    width: 1535px;
} 
.top {
    width: 1480px;
    text-align: right;
}
.logout_button {
    color: #000000;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: #000000;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
    color: #ffffff;
}
/* TOP PART */

/* --------------------------------------------------- */

/* BOTTOM PART */
.create_button {
    color: #000000;
    margin-top: 30px;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: #556394;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
}
.game_button {
    color: #000000;
    margin-top: 30px;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: #ecaa7f;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
}
.bottom_part {
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 610px;
    width: 1535px;
}
.facts {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.facts h2 {
    font-size: 20px;
}
.facts p {
    font-size: 15px;
    color: #8e8c8e;
    text-align: end;
    margin-bottom: 30px;
}
.poster {
    float: right;
}
.or_word {
    font-size: 20px;
}
.bottom{
    display:inline-flex;
    justify-content: space-evenly;
    width: 500px;
}
.three_buttons {
    text-align: end;
}
hr {
    margin-top: 30px;
}
.v_button {
    text-align: end;
}
.view_button {
    color: #000000;
    margin-top: 30px;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: #9ac090;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
}
.edit_button{
    color: #000000;
    margin-top: 30px;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: #e6ec7f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
}
.delete_button{
    color: #000000;
    margin-top: 30px;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: #bc5285;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
}
/* BOTTOM PART */




