/* BODY */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center; 
    background-color: #000000;
    height: 700px;
}
/* BODY */

/* --------------------------------------------------- */

/* LOGOUT BUTTON */
.logout_button {
    color: #ffffff;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: #000000;
    border: 2px solid #ffffff;
    float: right;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
}
/* LOGOUT BUTTON */

/* --------------------------------------------------- */

/* CREATE CONTAINER */
.create_container {
    margin-top: 40px;
    display:flex;
    justify-content: center;
    text-align: center;
    height: 310px;
    background: #e7e2e2;    
    width: 400px;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
    box-shadow: 0 0 25px #000000;
} 
h2 {
    font-size: 30px;
    font-family: cursive;
    color: #ffffff;
    background-color: #000000;
}
.form_group {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;  
}
.form_group input {
    margin-left: 40px;
    border: 2px solid #000000;
}
.form_group textarea {
    margin-left: 40px;
    border: 2px solid #000000;
}
.alert {
    color: #bc5285;
}
.two_buttons {
    text-align: right;
}
.create_button {
    color: #000000;
    margin-top: 25px;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: #556394;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
    font-size: 15px;
}
.cancel_button {
    color: #000000;
    margin-top: 25px;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: #bc5285;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
}
/* CREATE CONTAINER */