/* BODY */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center; 
    background-color: #000000;
}
/* BODY */

/* --------------------------------------------------- */

/* TOP PART */
.home_button{
    color: #000000;
    margin-right: 10px;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: rgb(158, 75, 150);
    border: 2px solid rgb(158, 75, 150);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
    font-size: 15px;
}
.logout_button{
    color: #ffffff;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: #000000;
    border: 2px solid #ffffff;
    float: right;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
}
/* TOP PART */

/* --------------------------------------------------- */

/* GAME SECTION */
#game {
    margin-top: 20px;
    text-align: center;
}
h3{
    text-align: center;
    padding: 25px;;
    font-size: 30px;
    font-family: cursive;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.game_container {
    padding: 5px;
    margin: 40px 0px 40px;
    display:flex;
    justify-content: center;
    height: 300px;
    background: #e7e2e2;    
    width: 900px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
    box-shadow: 0 0 35px #a3a3a3;
}
.submit_button{
    color: #000000;
    margin-top: 50px;
    padding: 5px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    background: #ecaa7f;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: box-shadow;
    font-size: 15px;
}
.question {
    width: 700px;
}
.top_buttons {
    display: flex;
    justify-content: end;
}
/* GAME SECTION */

/* --------------------------------------------------- */

/*GAME OVER */

.game_over {
    text-align: center;
    font-size: 40px;
}

/*GAME OVER */